<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/unmango/index.json" protocolVersion="3" />
  </packageSources>
  
  <packageSourceCredentials>
    <github>
      <add key="Username" value="%GithubUsername%"/>
      <add key="ClearTextPassword" value="%GithubPassword%"/>
    </github>
  </packageSourceCredentials>
</configuration>
