.git
.github
.idea
.vscode
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
build
node_modules
.dockerignore
.editorconfig
.gitignore
.nvmrc
.pnp.*
Dockerfile
LICENSE
README.md
