root = true

[*.json]
indent_size = 2

[*.yml]
indent_size = 2

[*.{xml,props,targets,Config}]
indent_size = 2

[*.cs]
indent_size = 4
dotnet_sort_system_directives_first = true

[*]
indent_style = space
insert_final_newline = true
