<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport
               [fixedTopGap]="topGap"
               [attr.role]="isHandset ? 'dialog' : 'navigation'"
               [mode]="mode"
               [opened]="true">
    <mat-nav-list>
      <mat-list-item (click)="toggle()">
        <span class="fill"></span>
        <mat-icon *ngIf="!opened">chevron_right</mat-icon>
        <mat-icon *ngIf="opened">chevron_left</mat-icon>
      </mat-list-item>
      <app-nav-item *ngFor="let item of items"
                    [routerLink]="item.href"
                    [icon]="item.icon">
        <span *ngIf="opened" [@fadeInOut]>{{item.name}}</span>
      </app-nav-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
