# Repo config
.git
.github

**/.editorconfig
**/.gitignore

# IDE configuration
**/.idea
**/.run
**/.vscode

**/*.DotSettings*
**/*.sln

# Yarn
.yarn
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Packages
**/node_modules

# Build output
**/build
**/dist
**/bin
**/obj
**/out

# Generated code
**/gen
**/generated

# Currently used as a temp dir for downloaded protos
**/.cache

# Test projects
**/test
**/*.Fixture
**/Safir.XUnit*
**/Safir.*Testing

# Test config
**/jest.config.js
**/xunit.runner.json
**/setupTests*

# Test files
**/*.test*
**/*.spec*

# Docker
**/Dockerfile*
**/docker-compose.yml
**/.dockerignore

# Local environment config
**/.env.local
**/.envrc

# Hack
**/tool

# Scripts and text files
**/*.trx
**/*.md
**/*.ps1
**/*.cmd
**/*.sh

# The child props rely on relative paths and the
# build context has a different directory structure
**/Directory.Build.props
!Directory.Build.props
