.App {
  display: grid;
  grid-template-columns: [start] 13% [sidebar-end body-start] auto [end];
  grid-template-rows: [start] 10% [header-end body-start] 50% [end];
}

.Body {
  grid-column: [body-start] [end];
  grid-row: [body-start] [end];
}

.Header {
  grid-column: [start] / span [end];
  grid-row: [start] [header-end];
}

.Sidebar {
  grid-column: 0;
  grid-row: 1;
}
